<nav class="navbar navbar-expand-md navbar-dark bg-blue">
  <div class="container">
    <a class="navbar-brand" [(routerLink)]=labels.routes.urlHome>
      <img src="assets/images/logo.png" alt="Angular Project" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" [(routerLink)]=labels.routes.urlHome routerLinkActive="active">{{labels.routes.urlHome}}</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" [(routerLink)]=labels.routes.urlCarPark routerLinkActive="active">{{labels.parkingCar}}</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" [(routerLink)]=labels.routes.urlStatistics routerLinkActive="active">{{labels.statistics}}</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" [(routerLink)]=labels.routes.urlAdmin routerLinkActive="active">{{labels.routes.urlAdmin}}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
