<section class="featured-blog mtb-60 car-park-container">
<div *ngIf="carList ? carList.length > 0 ? true : false : false ">
  <br>
  <div *ngIf="carList" class="container car-park-register-car-container">
      <app-register-car *ngIf="(cont > 0)" class="col-4 car-park-register-car-register"></app-register-car>
      <app-register-car-out class="col-4" ></app-register-car-out>
  </div>
  <br>
  <app-car-list></app-car-list>
  <br>
</div>
  <div *ngIf="carList ? carList.length > 0 ? false : true : true ">
    <h1>
      {{createCarPark}}
    </h1>
    <div class="container" style="display: flex; align-items: center;">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()"  class="car-park-create-position">
        <div class="form-group">
          <input
            type="number" min="2"
            class="form-control input-create-position"
            formControlName="position"
            [ngClass]="{ 'is-invalid': submitted && f.position.errors }" [(placeholder)]=placeholder />
          <div *ngIf="submitted && f.position.errors" class="invalid-feedback">
            <div *ngIf="f.position.errors.required">{{required}}</div>
            <div *ngIf="f.position.errors.min">{{minNumber}}</div>

          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-success"> {{createCarPark}}</button>
        </div>
      </form>
    </div>
  </div>
</section>

