<!--<div style="width: 100%; height: 600px; background: red;">
  <div style=" display: flex;">
    <div style="width: 50%; height: 200px; background: grey"></div>
    <div style="width: 50%; height: 200px; background: blue"></div>
  </div>
  <div style=" display: flex;">
    <div style="width: 50%; height: 200px; background: blue"></div>
    <div style="width: 50%; height: 200px; background: grey"></div>
  </div>
  <div style=" display: flex;">
    <div style="width: 50%; height: 200px; background: grey"></div>
    <div style="width: 50%; height: 200px; background: blue"></div>
  </div>
</div>-->
<div class="container-error">

  <table id="tablero">
    <tr>
      <td>&#9820;</td>
      <td>&#9822;</td>
      <td>&#9821;</td>
      <td>&#9819;</td>
      <td>&#9818;</td>
      <td>&#9821;</td>
      <td>&#9822;</td>
      <td>&#9820;</td>
    </tr>
    <tr>
      <td>&#9823;</td>
      <td>&#9823;</td>
      <td>&#9823;</td>
      <td>&#9823;</td>
      <td>&#9823;</td>
      <td>&#9823;</td>
      <td>&#9823;</td>
      <td>&#9823;</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&#9823;</td>
      <td>&#9823;</td>
      <td>&#9823;</td>
      <td>&#9823;</td>
      <td>&#9823;</td>
      <td>&#9823;</td>
      <td>&#9823;</td>
      <td>&#9823;</td>
    </tr>
    <tr>
      <td>&#9820;</td>
      <td>&#9822;</td>
      <td>&#9821;</td>
      <td>&#9819;</td>
      <td>&#9818;</td>
      <td>&#9821;</td>
      <td>&#9822;</td>
      <td>&#9820;</td>
    </tr>
  </table>
</div>

